* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-image: url(https://cdn.pixabay.com/photo/2018/07/23/19/32/abstract-3557681_1280.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.login-container {
    width: 300px;
    padding: 20px;
    background-color: rgba(147, 165, 141, 0.9); 
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5); 
    border-radius: 8px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-wrapper {
    width: 100%;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    height: 40px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    appearance: none;
    font-family: inherit;
}

button {
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2d2c5a;
}

  